/* .layout {
} */

.container {
  margin: 0 auto;
  max-width: 1200px;

  /* border: 1px solid red; */
}

/* ##########   HEADER   ########## */

.header {
  margin-top: 2rem;
  height: 10rem;

  display: flex;
  align-items: center;
  justify-content: space-around;

  border: 1px solid rgb(123, 123, 123);
  border-radius: 2em;

  .allHandles__container {
    height: 90%;
  }

  /* .addCountry {
    padding: 1em;
    width: 10%;
    border: 1px solid green;
    text-align: center;
  } */

  .allHandles__list {
    height: 100%;
    width: 200px;

    display: flex;
    place-content: center;
    flex-wrap: wrap;
    gap: 0.1em 0.15em;

    /* border: 3px solid red; */
  }

  .allHandles__card {
    width: 60px;
    height: 50px;

    display: flex;
    place-content: center;
    flex-grow: 1;

    font-size: var(--step--1);
    background-color: rgb(216, 216, 216);
    /* border-radius: .5em; */

    .allHandles__button {
      height: 100%;
      width: 100%;

      background-color: inherit;
      font-size: inherit;
      border: none;
      border-radius: 0.3em;

      cursor: pointer;
    }
  }

  .active {
    background-color: rgb(195, 195, 195);
  }
}

.addCountry:hover {
  background-color: lightgray;
}

.container__displayedCountries {
  margin-bottom: 2rem;
  padding: 0.5em;
  border: 1px solid rgb(123, 123, 123);
  border-radius: 1.75em;

  .displayedCountries__list {
    padding: 1em;
    /* border: 2px solid red; */
  }
}

.displayedCountries__cards {
  padding: 1em;
  min-width: 120px;

  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 0.5em;

  .country__button {
    width: 100%;
    background: inherit;
    border: none;
    /* border: 1px solid black; */
  }
}

.activeHeadlines__list {
  padding: 1em;
}

.activeHeadlines__card {
  padding: 1.25em;
  height: 20rem;
  min-width: 18rem;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  /* border: 1px solid black; */
  border-radius: 1rem;
}

.card__title {
  font-size: var(--fontSize__card__title);
  color: black
}
