.layout {
}

.container {
  margin: 0 auto;
  max-width: 1200px;

  border: 1px solid red;
}

.header {
  margin-top: 2rem;
  padding: 1rem 0;
  border: 1px solid black;

  display: flex;

  h1 {
    font-size: var(--step-1);
    display: flex;
    align-items: center;
  }

  p {
    display: flex;
    border: 1px solid red;
  }
}

.addCountry {
  padding: 1em;
  width: 10%;
  border: 1px solid green;
  text-align: center;
}

.addCountry:hover {
  background-color: lightgray;
}

.container__addCountry {
  margin-bottom: 2rem;
  padding: 1em;
  height: 100%;
  max-width: 50%;
  /* justify-content: space-between; */
  border: 1px solid black;

  .countryList {
    /* width: 50%; */
    height: 100%;
    border: 1px solid blue;
  }

  .country__button {
    background-color: aqua;
    border: none;
  }
}

.currentNews__container {
  position: relative;
  margin-bottom: 2rem;
  border: 1px solid black;
}

.currentNews__title,
.currentNews__countries {
  text-align: center;
}

.currentNews__countries {
  width: 50%;

  display: flex;
  place-content: center;
  padding: 0.25em;
  border: 1px solid black;
}

.currentNews__remove {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  top: -0.5rem;
  right: -0.5rem;

  color: #fff;
  background-color: black;
  border-radius: 50%;
  border: none;
  outline: none;

  cursor: pointer;
}
/* 
.addNews__container {
  display: grid;
  place-items: center;
}

.dropdown {
  padding: 0.5em;

  text-align: center;
  border: 1px solid black;
  border-radius: 1rem;
}

.dropdown.option {
  color: #fff;
}

.dropdown {
} */

.card {
  height: 20rem;
  min-width: 18rem;
  padding: 1em;
  flex-grow: 1;
  border: 1px solid black;
  border-radius: 1rem;
}

.card__title {
  font-size: var(--fontSize__card__title);
}
