.layout {
}

.container {
  margin: 0 auto;
  max-width: 1200px;

  border: 1px solid red;
}

.header {
  margin-top: 2rem;
  padding: 1rem 0;
  border: 1px solid black;

  display: flex;

  h1 {
    font-size: var(--step-1);
    display: flex;
    align-items: center;
  }

  p {
    display: flex;
    border: 1px solid red;
  }
}

.addCountry {
  padding: 1em;
  width: 10%;
  border: 1px solid green;
  text-align: center;
}

.addCountry:hover {
  background-color: lightgray;
}

.container__displayedCountries {
  margin-bottom: 2rem;
  border: 2px solid blue;

  .displayedCountries__list {
    padding: 1em;
    border: 2px solid red;
  }
}

.displayedCountries__cards {
  padding: 1em;
  min-width: 120px;

  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 0.5em;

  .country__button {
    width: 100%;
    background: inherit;
    border: none;
    /* border: 1px solid black; */
  }
}

/* 
.addNews__container {
  display: grid;
  place-items: center;
}

.dropdown {
  padding: 0.5em;

  text-align: center;
  border: 1px solid black;
  border-radius: 1rem;
}

.dropdown.option {
  color: #fff;
}

.dropdown {
} */

.card {
  height: 20rem;
  min-width: 18rem;
  padding: 1em;
  flex-grow: 1;
  border: 1px solid black;
  border-radius: 1rem;
}

.card__title {
  font-size: var(--fontSize__card__title);
}
