:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --fontSize__card__title: 1rem;

  --step--2: clamp(0.6944rem, 0.6577rem + 0.1836vi, 0.8rem);
  --step--1: clamp(0.8333rem, 0.7754rem + 0.2899vi, 1rem);
  --step-0: clamp(1rem, 0.913rem + 0.4348vi, 1.25rem);
  --step-1: clamp(1.2rem, 1.0739rem + 0.6304vi, 1.5625rem);
  --step-2: clamp(1.44rem, 1.2615rem + 0.8924vi, 1.9531rem);
  --step-3: clamp(1.728rem, 1.4799rem + 1.2407vi, 2.4414rem);
  --step-4: clamp(2.0736rem, 1.7334rem + 1.7011vi, 3.0518rem);
  --step-5: clamp(2.4883rem, 2.027rem + 2.3067vi, 3.8147rem);
}

* {
  box-sizing: border-box;
}

/* body {
  margin: 0;
} */

ul,
li,
div,
label, 
button {
  margin: 0;
  padding: 0;
}

main {
  margin: 2rem 0;
}

section {
  border: 3px solid lightgreen;
}

[role="list"] {
  list-style-type: none;
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.gap1 {
  gap: 1.5rem;
}
.gap2 {
  gap: 2rem;
}
.gap3 {
  gap: 2.5rem;
}

ul {
  overflow: scroll;
  scrollbar-width: none;
}

ul::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  a:active {
    color: black;
  }
  a:visited {
    color: black;
  }
}